{% extends 'base.html.twig' %}

{% block title %}Jérémy Debski{% endblock %}

{% block body %}

<section id="home">
    <div id="about">
        <h1 id="welcome">Bienvenue!</h1>
        <p>Je m'apelle <span class="my-name">{{owner ? owner.name}}</span>.</p>
        <p>Je suis <span class="job">{{owner ? owner.job}}</span>.</p>
    </div>

</section>

<section id="skill">
    <h2>Compétences</h2>

    <ul class="col-12 col-lg-8 col-md-10 offset-md-1 offset-lg-2 skill-list">
        {% for skill in skills %}
            <li class="skill-list-item">{{ skill.name }}</li>
        {% endfor %}
  
    <ul>
</section>


<section id="portfolio">
    <h2>Portfolio</h2>
    <div class="projects-wrapper">
        {% for project in projects %}
            <a href ="{{ path('project', {'id': project.id}) }}">
                <div class="project">
                    <img class="project-img" src="{{asset('images/products')}}/{{project.image}}">
                    <p class="project-title"> {{ project.name }}</p>
                </div>
            </a> 
        {% endfor %}
    </div>
</section>

<section id="contact-section" class="row">
    <div id="contact-form" class="col-10 offset-1 offset-md-2 col-md-3 order-2 order-md-1">
        {% for label, messages in app.flashes(['warning', 'error', 'notice']) %}
            {% for message in messages %}
                <div class="alert alert-dark">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h2>Contact</h2>

        {{ form_start(form, {
                'attr': {
                    'novalidate': 'novalidate', 
                    'class':'font-weight-bold', 
                    'action' : '/#contact',
                } 
            })
        }}

        {{ form_widget(form) }}
        <div class="text-center">
            <button class="btn btn-dark">{{ button_label|default('Poster') }}</button>
        </div>
    {{ form_end(form) }}
    </div>
    
    <div id="about-me" class="row col-10 offset-1 order-1 col-md-4 order-md-2 text-center">

        
        
            <h2>A Propos de moi</h2>
            
            <img id="owner-img" class="mx-auto mb-3" src="{{asset('images/products')}}/{{owner ? owner.image}}">
            
            <div class="description">
            {{owner ? owner.description|raw }}

            <a href="{{asset('images/products')}}/{{owner ? owner.cv}}">Mon Cv</a>
            </div>
        
    </div>
</section>


{% endblock %}
